*, *::after, *::before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body
{
	width:100%;
	height:100%;
	overflow:hidden;
}

.fullscreen-btn
{
	position:fixed;
	top:min(10px,1vh);
	left:min(10px,1vw);
	width:min(6vw,50px);
	height:min(6vh,50px);
	border:4px solid rgba(100,100,100,0.7);
}

.screen
{
  width: 100%;
  height: 100%;
  background: #000;
}

